In [1]:
'''
noise complaint data taken from openNYC data portal
https://data.cityofnewyork.us/Social-Services/NYC-311-NYPD-Noise-2015-01-14/a75n-km7r

can only get 2015-2017 data for some reason
'''

'\nnoise complaint data taken from openNYC data portal\nhttps://data.cityofnewyork.us/Social-Services/NYC-311-NYPD-Noise-2015-01-14/a75n-km7r\n\ncan only get 2015-2017 data for some reason\n'

In [2]:
import numpy as np
import pandas as pd
import geopandas as gp
import os
import subprocess
import math
import shapely as shp
from geopandas import GeoDataFrame
from shapely.geometry import Point
from datetime import datetime
from fiona.crs import from_epsg
import matplotlib
matplotlib.use('TkAgg')
import matplotlib.pyplot as plt
import re
from pandas.tseries.holiday import get_calendar, HolidayCalendarFactory, GoodFriday
from datetime import datetime
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score as rs
from sklearn import svm, datasets
from sklearn import metrics
from sklearn.metrics import roc_curve
from sklearn.metrics import auc

from itertools import compress

np.random.seed(222)

%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['compress', 'datetime']
`%matplotlib` prevents importing * from pylab and numpy

In [3]:
data_folder = '/Users/geoffperrin/Desktop/CUSP/GRA/NYPD/data/'

In [72]:
noise_df_raw = pd.read_csv(data_folder + 'NYC_311___NYPD_-_Noise_-_2015.01.14.csv')

In [73]:
noise_df = noise_df_raw[['Created Date', 'Descriptor', 'Latitude', 'Longitude']]

In [75]:
noise_df = noise_df.dropna()

In [77]:
noise_df['lonlat'] = zip(noise_df.Longitude, noise_df.Latitude)
noise_df['geometry'] = noise_df[['lonlat']].applymap(lambda x:shp.geometry.Point(x))
noise_df = noise_df.drop(['Longitude', 'Latitude'], axis=1)
crs = {'init': 'epsg:4326'}
noise_df_geo = GeoDataFrame(noise_df, crs=crs, geometry = 'geometry')
noise_df_geo = noise_df_geo.to_crs(epsg=4326)

In [78]:
noise_df_geo = noise_df_geo[['Created Date', 'Descriptor', 'geometry']]
noise_df_geo.head()

,Created Date,Descriptor,geometry
0,09/04/2015 10:55:25 PM,Loud Music/Party,POINT (-73.87730091806679 40.83930620730105)
1,09/04/2015 01:53:45 PM,Loud Music/Party,POINT (-73.94768359377827 40.83022246037272)
2,09/04/2015 09:15:43 PM,Loud Music/Party,POINT (-73.94936777115372 40.82510431855133)
3,09/05/2015 01:06:57 AM,Loud Music/Party,POINT (-73.92923194083798 40.64096464471428)
4,09/04/2015 09:04:42 PM,Loud Music/Party,POINT (-73.91898361153942 40.82846572032084)

In [79]:
### read in census block shapefile
ny_cb_shp_raw = gp.read_file(data_folder + 'nycb2010wi_17a/nycb2010wi.shp')
ny_cb_shp_raw = ny_cb_shp_raw.to_crs(epsg=4326)
ny_cb_shp = ny_cb_shp_raw[['BCTCB2010', 'geometry']]

In [80]:
noise_cb_df = gp.sjoin(noise_df_geo, ny_cb_shp, how='left')

In [81]:
noise_cb_df.head()

,Created Date,Descriptor,geometry,index_right,BCTCB2010
0,09/04/2015 10:55:25 PM,Loud Music/Party,POINT (-73.87730091806679 40.83930620730105),13189.0,20060001006
1,09/04/2015 01:53:45 PM,Loud Music/Party,POINT (-73.94768359377827 40.83022246037272),28646.0,10237001001
2,09/04/2015 09:15:43 PM,Loud Music/Party,POINT (-73.94936777115372 40.82510431855133),4409.0,10229003001
3,09/05/2015 01:06:57 AM,Loud Music/Party,POINT (-73.92923194083798 40.64096464471428),8631.0,30840002000
4,09/04/2015 09:04:42 PM,Loud Music/Party,POINT (-73.91898361153942 40.82846572032084),12322.0,20183021000

In [85]:
noise_cb_df_groupby = noise_cb_df.groupby(['BCTCB2010'], as_index=False)['Descriptor'].count()
noise_cb_df_groupby.head()

     BCTCB2010  Descriptor
0  10002011000         150
1  10002011001           5
2  10002012000         137
3  10002012001          39
4  10002012002           5

In [86]:
ny_cb_shp_w_noise_counts = ny_cb_shp.merge(noise_cb_df_groupby, on='BCTCB2010')

In [87]:
ny_cb_shp_w_noise_counts.head()

     BCTCB2010                                           geometry  Descriptor
0  50009001000  POLYGON ((-74.07920577013249 40.643430783779, ...           3
1  50020011000  POLYGON ((-74.07061992438021 40.6108550670875,...           1
2  50027001000  POLYGON ((-74.07524403976554 40.62600632405743...          57
3  50064001000  POLYGON ((-74.07643744511995 40.60100160658921...           1
4  50074001000  POLYGON ((-74.06589403909585 40.59682603645426...          17

In [ ]:
ny_cb_shp_w_noise_counts.plot(column='Descriptor', cmap='Reds', alpha=.9)